@import '../../variables.scss';
.loader {
  width: 30px;
  height: 30px;
  border: 7px $cinza-claro solid;
  border-left-color: $rosa;
  border-radius: 50%;
  animation: rotation 0.5s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
