@import '../../variables.scss';

@media only screen and (max-width: 800px) {
  .post-user-image {
    height: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .post {
    width: 100%;
  }
}

.post {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  width: 60%;
  .player-box {
    display: flex;
    width: 90%;
  }
  p {
    font-size: 14px;
  }
  @include sombra();
  @include centro();
  .post-user-image {
    height: 50px;
    border-radius: 50%;
  }
  .said {
    font-weight: 400;
    color: $cinza-medio;
    font-size: 13px;
  }
  .post-header {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    width: 80%;
    .post-text {
      margin-top: 8px;
      text-align: left;
      margin-left: 25px;
      height: fit-content;
    }
    .post-content {
      width: 80%;
      word-wrap: break-word;
    }
    .post-user {
      text-align: left;
      font-size: 16px;
      margin-left: 25px;
      font-weight: 700;
    }
  }
}
