@import '../../variables.scss';
.post {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 60%;
  @include sombra();
  @include centro();
  .post-user-image {
    height: 50px;
    border-radius: 50%;
  }
  .said {
    font-weight: 400;
    color: $cinza-medio;
    font-size: 13px;
  }
  .post-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    .post-content {
      margin-top: 8px;
      text-align: left;
      margin-left: 25px;
    }
    .post-user {
      text-align: left;
      margin-left: 25px;
      font-weight: 700;
    }
  }
}
.player-box {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border: 2px $cinza-claro solid;
  border-radius: 20px;
  @include centro();
}
