//colors
$rosa-claro: #ff8fb8;
$rosa: #ff005c;
$rosa-escuro: #77002c;
$cinza-hover: #f3f3f3;
$cinza-claro: #e2e2e2;
$cinza-medio: #959595;
$cinza-escuro: #383838;
$sombra: 0 2px 4px 0 $cinza-claro;
@mixin sombra() {
  border-radius: 20px;
  border: solid 2px $cinza-claro;
  box-shadow: 0 3px 4px 0 $cinza-claro;
}
@mixin centro() {
  display: flex;
  align-items: center;
  justify-content: center;
}
